{% extends 'registration/base.html' %}

{% block title %}{% block title-meta %}
	لیست مقالات
{% endblock %}{% endblock %}

{% block main %}
		<div class="row">
          <div class="col-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>عنوان مقاله</th>
                      <th>تصویر بندانگشتی</th>
                      <th>دسته‌بندی</th>
                      <th>نویسنده</th>
                      <th>خلاصه</th>
                      <th>زمان انتشار</th>
                      <th>وضعیت</th>
                    </tr>
                  </thead>
                  <tbody>
	                  {% for article in object_list %}
	                  	<tr>
							<td>
                {% if article.status == 'd' or user.is_superuser %}       
                  <a href="{% url 'account:article-update' article.pk %}">{{article.title}}</a>
                {% else %}
                  {{article.title}}
                {% endif %}
              </td>
							<td><img src="{{article.thumbnail.url}}" width="120"></td>
							<td>{{article.category_to_str}}</td>
							<td>{{article.author.get_full_name}}</td>
							<td>{{article.description|striptags|truncatewords:"30"}}</td>
							<td>{{article.jpublish}}</td>
							<td>
								{% if article.status == 'p' %}
									<span class="badge badge-success">منتشرشده</span>
									<a target="_blank" class="badge badge-primary" href="{% url 'blog:detail' article.slug %}">نمایش مقاله در سایت</a>
								{% else %}
									<span class="badge badge-danger">پیش‌نویس</span>
								{% endif %}
							</td>
	                    </tr>
	                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% endblock %}